* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
}

.contener {
    background-size: cover;
    background: url(./IMAZE/1.gif);
}

.main {
    width: 100%;
    height: 70px;
    display: flex;
    background-color: rgb(84, 74, 74);
}

.contener-1 {
    width: 220px;
    height: 50px;
    margin: 10px 0px 0px 60px;
}

.contener-2 {
    display: flex;
    font-size: 15px;
    margin: 7px 0px 0px 50px;
}

.contener-3 {
    padding: 20px;
}

.contener-4 {
    color: white;
}

.body {
    margin-left: 140px;
}

.body-text {
    margin: 20px 0px 0px 260px;
}

.body-1 {
    width: 430px;
    height: 150px;
    margin: 50px 0px 0px 330px;
}

.body-2 {
    font-size: 17px;
    color: white;
}

.body-3 {
    width: 30px;
    height: 30px;
}

#body-3{
    margin-left: 150px;
}

.body-4 {
    width: 40px;
    height: 50px;
    margin: 5px 0px 0px 650px;
}

.button {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    color: rgb(219, 219, 12);
    margin: 10px 0px 0px 220px;
    background-color: transparent;
    border: 2px solid rgb(234, 144, 9);

}

.submit {
    width: 65px;
    font-size: 8px;
    height: 20px;
    color: white;
    border-radius: 5px;
    background-color: transparent;
    margin: 18px 0px 0px 100px;
    border: 2px solid rgb(69, 30, 210);
}

.button:hover {
    color: white;
    background-color: red;
}

.center-1 {
    width: 800px;
    height: 300px;
    margin: 0px 0px 0px 290px;
}

.middle {
    display: flex;
    margin-left: 1px;
}

.middle-1 {
    width: 400px;
    height: 150px;
    margin: 30px 0px 0px 130px;
}

.middle-2 {
    width: 360px;
    height: 290px;
    color: white;
    margin: 0px 0px 0px 130px;
    padding: 15px 15px 0px 20px;
    background-color: rgba(0, 0, 0, .6);
}

.circle-1 {
    width: 400px;
    height: 350px;
    margin: 150px 0px 0px 50px;
}

.footer {
    width: 100%;
    color: white;
    margin-top: 20px;
    box-shadow: 50px 0px 0px 0px red;
    background-color: black;

}

.flex {
    display: flex;
    font-size: 12px;
    margin: 10px 0px 0px 180px;
}

.footer-img {
    width: 330px;
    height: 100px;
    margin: 20px 0px 0px 500px;
}

.footer-img-down {
    margin: 20px 0px 50px 400px;
}

.footer-inside {
    color: red;
    font-size: 30px;
    margin: 10px 0px 0px 140px;
}

.footer-into {
    margin-left: 50px;
}

.down {
    width: 500px;
    height: 120px;
    margin: 30px 0px 0px 420px;
}

.paira {
    color: red;
    font-size: 40px;
    margin: 50px 0px 0px 410px;
}

.paira-1 {
    font-size: 10px;
    margin: 10px 0px 0px 170px;
}

.paira-2 {
    font-size: 10px;
    margin: 10px 0px 0px 320px;
}

.paira-3 {
    font-size: 10px;
    margin: 10px 0px 0px 300px;
}

.paira-4 {
    color: red;
    font-size: 30px;
    margin: 20px 0px 0px 450px;
}

.group-in {
    width: 150px;
    height: 150px;
    padding: 5px;
    margin-left: 35px;
    border-radius: 100px;
}

.block {
    margin: 10px 0px 0px 140px;
}

#fav {
    color: rgb(14, 247, 6);
    margin: 15px 0px 0px 350px;
}

#fav-2 {
    color: rgb(10, 78, 223);
    margin: 15px 0px 0px 10px;
}

#fav-3 {
    color: red;
    margin: 15px 0px 0px 10px;
}

@media and 